.homepage{/*main page back roung*/
	background-color: rgb(221, 225, 238);
}
.headermain{
    position: relative;
    background-image: url('images/desk2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.head{
    /*background-color: rgb(203, 206, 18);*/
    
	height: 37em;
    width: 100%;
	/*margin: 3em;
	border: 2em;
	padding: 5em;*/
}


.mainHeadText{
    position: absolute;
    right: 22%;
    
}
.headertext{/*header text and size*/
	font: 60px sans-serif;   
	position: absolute;
	right: 5%;             
	
}
.homebuttons{/*navagation buttons positon*/
	position: absolute;
	bottom: 10%;                      
	right: 13%;                        
}
.homepagebuttons{/*navagation buttons size and color*/
	background-color: rgb(173, 191, 194);
	border-radius: 8px;
	font-size: 1em;
	padding: 10px 20px;
	transition-duration: 0.04s;
	border: 2px solid white;
}
.homepagebuttons:hover{/*navagation buttonscolor change on hover*/
	background-color: rgb(31, 27, 27);
	color:beige;
}

.homeMain{
     
    
	height: 20em;
    width: 80em;
	margin: 1em;
	border: 2em;
	padding: 5em;
}

.HMleft{
   
    position: absolute;
    left: 5%;
	height: 10em;
    width:30%;
	padding: 5em;
    font-size: 150%;
	

}
.HPright{
  position: absolute;
  right:20%;

}


.footer{/*main page footer*/
	position: absolute;
	top:  150%;                                                
	left: 2%;                                             
	width: 95%;                                       
	height: 20%;                    
}
.mainfooterlogo{/*main page footer*/
	float: left;
}
.aboutMain{
   
   
   height: 70em;
   width: 80em;
   margin: 1em;
   border: 2em;
   padding: 5em;
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }

.ABleft{
    
    position: absolute;
    left: 5%;
	height: 10em;
    width:30%;
	padding: 5em;
    font-size: 150%;
	

}
.ABright{
    
    position: absolute;
    right: 5%;
	height: 10em;
    width:30%;
	padding: 5em;
    font-size: 150%;
	

}
.ABbottom{
    
    position: absolute;
    top: 140%;
	height: 1em;
    width:70%;
	padding: 4em;
    font-size: 150%;
	

}

.ABbottomRight{
  position: absolute;
  right: 10%;
  top: 190%;

}
.aboutfooter{
  
  height: 10em;
  width: 80em;
  margin: 1em;
  border: 2em;
  padding: 5em;
}


.projectsMain{
    
      
   height: 27em;
   width: 80em;
   margin: 1em;
   border: 2em;
   padding: 5em;
}
.projectsMain1{
    
      
  height: 27em;
  width: 80em;
  margin: 1em;
  border: 2em;
  padding: 5em;
}
.projectsMain2{
    
      
  height: 27em;
  width: 80em;
  margin: 1em;
  border: 2em;
  padding: 5em;
}
.text1{
  position: relative;
  left:30%;

}
.text2{
  position: relative;
  left:50%;
  bottom:8%;

}
.text3{
  position: relative;
  left:72%;
  bottom:15%;

}
.text4{
  position: relative;
  left:5%;

}
.text5{
  position: relative;
  left:28%;
  bottom:5%;

}
.text6{
  position: relative;
  left:50%;
  bottom:9%;

}
.text7{
  position: relative;
  left:80%;
  bottom:15%;

}

.text8{
  position: relative;
  left:5%;

}
.text9{
  position: relative;
  left:28%;
  bottom:5%;

}
.text10{
  position: relative;
  left:50%;
  bottom:9%;

}
.text11{
  position: relative;
  left:75%;
  bottom:12%;

}
.projectsfooter{
   
  height: 10em;
  width: 80em;
  margin: 1em;
  border: 2em;
  padding: 5em;
}

.objectivesMain{
    
   
   height: 15em;
   width: 80em;
   margin: 1em;
   border: 2em;
   padding: 5em;
}
.objectivesfooter{
   
  height: 10em;
  width: 80em;
  margin: 1em;
  border: 2em;
  padding: 5em;
}

.sipMain{
    
   
   height: 20em;
   width: 80em;
   margin: 1em;
   border: 2em;
   padding: 5em;
}
.sipfooter{
  
  height: 10em;
  width: 80em;
  margin: 1em;
  border: 2em;
  padding: 5em;
}
